body {
  background-color:#F7F4D7;
}

.entry {
  float: left;
  height: 150px;
  margin-bottom: 5px;
  margin-right: 7px;
  padding-bottom: 20px;
  width: 200px;
}

.photo {
  text-align: center;
}

.photo img {
  height: 113px;
  border: none;
  margin-bottom: -3px;
}

.title {
  font-family: Georgia;
  font-size: 80%;
}

.caption {
  width: 170px;
}

.vote {
}

.bottom_links {
  background-color: #F7F4D7;
  bottom: 0;
  padding: 10px 10px 10px 5px;
  position: fixed;
}

#flash {
  background-color: #FFFF00;
  margin-bottom: 10px;
}

#thumbsup {
  border: 0px none;
  position: relative;
  top: 4px;
}